<div class="signup-container">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div class="textfield">
      <input
        type="email"
        id="email"
        class="textfield__input"
        placeholder="Email"
        formControlName="email"
        name="email">
      <!-- <div class="error" *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched">Email is required.</div> -->
      <div class="error" *ngIf="signupForm.controls.email.touched && signupForm.controls.email.hasError('required')">Email is required.</div>
      <div class="error" *ngIf="signupForm.controls.email.hasError('noEmail') && !signupForm.controls.email.hasError('required')">Invalid email.</div>
    </div>

    <div class="textfield">
      <input
        type="password"
        id="password"
        class="textfield__input"
        placeholder="Password"
        formControlName="password"
        name="password">
        <div class="error" *ngIf="signupForm.controls.password.hasError('required') && signupForm.controls.password.touched">Password is required.</div>
    </div>

    <div class="textfield">
      <input
        type="password"
        id="confirm-password"
        class="textfield__input"
        placeholder="Confirm Password" formControlName="confirmPassword"
        name="confirmPassword">
      <div class="error" *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.hasError('passwordsNotMatch')">Password doesn't match.</div>
    </div>

    <button type="submit" class="form-button" id="signup" [disabled]=!signupForm.valid>
      <div *ngIf="signupStatus == 'initial'">Sign up</div>
      <div>
        <img *ngIf="signupStatus == 'loading'" src="../../assets/ring.gif" alt="">
        <i *ngIf="signupStatus == 'signedUp'" class="material-icons">check</i>
      </div>
    </button>
  </form>
  <div routerLink="/login">log in</div>
  <div class="signup-error" *ngIf="error" [@showError]="state">{{ errorMessage }}</div>
</div>
