<!-- <div class="search-box" [style.border]="inFocus ? '1px solid black': '.5px solid rgba(0,0,0,0.3)'"> -->
<div class="search-box" [class.active]="inFocus">
  <i class="material-icons">search</i>
  <input type="text" id="search" (focus)="focusFunction()" (focusout)="focusOutFunction()">
  <!-- <button (click)="focusFunction()">test</button> -->
</div>
<div class="recipe-list-container">
  <div class="item-card" style="background: url('../../../assets/header.jpg') center / cover;">
    <div class="card-tint">
      <div class="action-buttons">
        <button class="card-button" id="edit">
          <i class="material-icons">edit</i>
        </button>
        <button class="card-button" id="delete">
        <i class="material-icons">close</i>
        </button>
      </div>
      <div class="card-details">
        <div class="card-title">honey orange beans</div>
        <div class="sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum nisi nec placerat venenatis. In id maximus enim.</div>
      </div>
    </div>
  </div>
</div>
