<div class="recipe-list-container">
  <div class="item-card" style="background: url('../../../assets/header.jpg') center / cover;">
    <div class="card-tint">
      <!-- <div class="action-buttons">
        <button class="mdl-button mdl-js-button mdl-button--icon card-edit">
          <i class="material-icons">edit</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon card-delete">
        <i class="material-icons">close</i>
        </button>
      </div> -->
      <div class="card-details">
        <div class="card-title">honey orange beans</div>
        <div class="sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum nisi nec placerat venenatis. In id maximus enim.</div>
      </div>
    </div>
  </div>
</div>
