<div class="signin-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="textfield">
      <input type="email" id="email" class="textfield__input" placeholder="Email" formControlName="email">
    </div>

    <div class="textfield">
      <input type="password" class="textfield__input" placeholder="Password" formControlName="password">
    </div>
    <button type="submit" id="login" class="form-button" [disabled]=!loginForm.valid>Log in</button>

  </form>
  <div routerLink="/forgot-password">Having trouble logging in?</div>
  <hr>
  <div routerLink="/signup">Sign up</div>
</div>
