@import "../../../styles";

header {
  width: 100%;
  // border-bottom: 0.1px solid rgba(lighten(black, 30%), 0.5);
  display: flex;
  // justify-content: space-between;
  align-items: center;
  font-family: $default-font;
  padding: 15px 5px 15px 5px;
  box-sizing: border-box;
  background-color: lighten(black, 30%);
  // background-color: $accent-color;

  & > div:nth-child(2){
    width: 1px;
    height: 30px;
    background-color: $accent-color;
    margin-left: 15px;
  }

  & > div:last-child {
    font-size: 25px;
    font-weight: 400;
    // color: $accent-color;
    // color: lighten(black, 30%);
    color: $accent-color;
    margin-left: 15px;
  }

  & > i {
    color: $accent-color;
    font-size: 30px;
    margin-left: 30px;
  }
}
