<div class="pw-reset-container">
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSendEmail()">
    <div class="textfield">
      <input type="email" id="email" class="textfield__input" placeholder="Email" formControlName="email">
    </div>

    <button type="submit" id="send-email" class="form-button" [disabled]="!passwordResetForm.valid">
      <div *ngIf="sendEmailStatus == 'initial'">Send Email</div>
      <div>
        <img *ngIf="sendEmailStatus == 'loading'" src="../../assets/ring.gif" alt="">
        <i *ngIf="sendEmailStatus == 'sent'" class="material-icons">check</i>
      </div>
    </button>

  </form>
  <div class="back-to-login" routerLink="/login">Back to Log in</div>
  <div class="error" *ngIf="error" [@showError]="state">{{ errorMessage }}</div>
</div>
